Process CSV, in future all raw csvs should be uploaded to s3 bucket and this should be plugged to that

## MinneapolisCrimeData

In [60]:
import pandas as pd

df = pd.read_csv("../data/MinneapolisCrimeData.csv")
df.head()

,X,Y,Type,Case_Number,Case_NumberAlt,Reported_Date,Occurred_Date,NIBRS_Crime_Against,NIBRS_Group,NIBRS_Code,...,Address,Precinct,Neighborhood,Ward,Latitude,Longitude,wgsXAnon,wgsYAnon,Crime_Count,OBJECTID
0,-93.305081,44.994154,Additional Crime Metrics,19-000549,MP2019549,2019/01/01 13:26:00+00,2019/01/01 12:08:00+00,Non NIBRS Data,Non NIBRS Data,Non NIBRS Data,...,0019XX 15TH AVE N,4.0,Willard - Hay,5.0,44.99415,-93.30508,-1.038667e+07,5.620601e+06,1,1
1,-93.305717,45.015933,Additional Crime Metrics,19-001124,MP20191124,2019/01/02 04:17:00+00,2019/01/02 02:07:00+00,Non NIBRS Data,Non NIBRS Data,Non NIBRS Data,...,0033XX NEWTON AVE N,4.0,Folwell,4.0,45.01593,-93.30572,-1.038674e+07,5.624030e+06,1,2
2,-93.311416,44.995151,Additional Crime Metrics,19-005305,MP20195305,2019/01/06 09:28:00+00,2019/01/06 03:00:00+00,Non NIBRS Data,Non NIBRS Data,Non NIBRS Data,...,0024XX 16TH AVE N,4.0,Willard - Hay,5.0,44.99515,-93.31142,-1.038738e+07,5.620758e+06,1,3
3,-93.300005,45.020398,Additional Crime Metrics,19-018580,MP201918580,2019/01/19 17:42:00+00,2019/01/19 16:50:00+00,Non NIBRS Data,Non NIBRS Data,Non NIBRS Data,...,0016XX 36TH AVE N,4.0,Folwell,4.0,45.02040,-93.30001,-1.038611e+07,5.624733e+06,1,4
4,-93.276015,44.944962,Additional Crime Metrics,19-021685,MP201921685,2019/01/23 04:58:00+00,2019/01/23 01:15:00+00,Non NIBRS Data,Non NIBRS Data,Non NIBRS Data,...,0001XX 32ND ST E,5.0,Lyndale,8.0,44.94496,-93.27602,-1.038344e+07,5.612861e+06,1,5

In [61]:
df.nunique()

X                       10590
Y                       10597
Type                        4
Case_Number            216288
Case_NumberAlt         182508
Reported_Date          209336
Occurred_Date          171352
NIBRS_Crime_Against         5
NIBRS_Group                 2
NIBRS_Code                 52
Offense_Category           27
Offense                    53
Problem_Initial           349
Problem_Final             149
Address                  9861
Precinct                    5
Neighborhood               87
Ward                       13
Latitude                 5075
Longitude                5787
wgsXAnon                10596
wgsYAnon                10599
Crime_Count                15
OBJECTID               240790
dtype: int64

In [52]:
df.Case_Number.value_counts()

21-039968    7
21-177514    6
22-193277    6
23-193821    6
21-064115    6
            ..
20-280040    1
20-706706    1
20-280186    1
20-706725    1
23-206670    1
Name: Case_Number, Length: 216288, dtype: int64

In [47]:
df.shape

(240790, 24)

In [46]:
df.isna().sum()

X                          0
Y                          0
Type                       0
Case_Number                0
Case_NumberAlt         33782
Reported_Date              0
Occurred_Date              1
NIBRS_Crime_Against        0
NIBRS_Group                0
NIBRS_Code                 0
Offense_Category           0
Offense                    0
Problem_Initial        44291
Problem_Final          44291
Address                   60
Precinct                1494
Neighborhood            1576
Ward                    1712
Latitude                   0
Longitude                  0
wgsXAnon                   0
wgsYAnon                   0
Crime_Count                0
OBJECTID                   0
dtype: int64

In [3]:
df['Type'].value_counts()

Crime Offenses (NIBRS)      194757
Shots Fired Calls            38630
Additional Crime Metrics      5536
Gunshot Wound Victims         1867
Name: Type, dtype: int64

In [10]:
(pd.to_datetime(df['Reported_Date']) - pd.to_datetime(df['Occurred_Date'])).median()

Timedelta('0 days 01:57:00')

In [11]:
df['NIBRS_Crime_Against'].value_counts()

Property          140605
Non NIBRS Data     46033
Person             40613
Society            13536
Not a Crime            3
Name: NIBRS_Crime_Against, dtype: int64

In [12]:
df['NIBRS_Group'].value_counts()

Group A           194757
Non NIBRS Data     46033
Name: NIBRS_Group, dtype: int64

In [16]:
df['Offense_Category'].value_counts()

Larceny/Theft Offenses                       57949
Shots Fired Calls                            38630
Assault Offenses                             35646
Destruction/Damage/Vandalism of Property     24311
Motor Vehicle Theft                          22750
Burglary/Breaking & Entering                 14012
Fraud Offenses                                9234
Robbery                                       7968
Drug/Narcotic Offenses                        6834
Weapon Law Violations                         6039
Subset of NIBRS Assault Offenses              4013
Sex Offenses                                  3630
Stolen Property Offenses                      2125
Gunshot Wound Victims                         1867
Subset of NIBRS Robbery                       1523
Counterfeiting/Forgery                        1387
Kidnapping/Abduction                           904
Pornography/Obscene Material                   530
Arson                                          505
Homicide Offenses                              360
Embezzlement                                   241
Extortion/Blackmail                            121
Animal Cruelty                                 108
Human Trafficking                               76
Prostitution Offenses                           17
Gambling Offenses                                8
Bribery                                          2
Name: Offense_Category, dtype: int64

In [22]:
df['Offense'].value_counts()

All Other Larceny                                  26541
Destruction/Damage/Vandalism of Property           24311
Motor Vehicle Theft                                22750
Sound of Shots Fired (P)                           18101
ShotSpotter Activation (P)                         17802
Simple Assault                                     17675
Theft From Motor Vehicle                           17673
Burglary/Breaking & Entering                       14012
Aggravated Assault                                 10453
Theft of Motor Vehicle Parts or Accessories         8919
Robbery                                             7968
Intimidation                                        7518
Weapon Law Violations                               6039
Drug/Narcotic Violations                            5756
Domestic Aggravated Assault - Subset of Assault     4013
Credit Card/Automated Teller Machine Fraud          3841
Sex Offenses                                        3630
Identity Theft                                      3217
Shoplifting                                         3141
Stolen Property Offenses                            2125
False Pretenses/Swindle/Confidence Game             1875
Gunshot Wound Victims                               1867
Shooting (PFE)                                      1858
Carjacking - Subset of Robbery                      1523
Counterfeiting/Forgery                              1387
Drug Equipment Violations                           1078
Purse-snatching                                     1065
Kidnapping/Abduction                                 904
Shooting Report Only (P)                             869
Theft From Building                                  568
Pornography/Obscene Material                         530
Arson                                                505
Murder and Nonnegligent Manslaughter                 332
Embezzlement                                         241
Wire Fraud                                           236
Extortion/Blackmail                                  121
Animal Cruelty                                       108
Human Trafficking, Commercial Sex Acts                46
Hacking/Computer Invasion                             38
Pocket-picking                                        33
Human Trafficking, Involuntary Servitude              30
Negligent Manslaughter                                25
Impersonation                                         23
Theft From Coin-Operated Machine or Device             9
Prostitution                                           8
Assisting or Promoting Prostitution                    7
Welfare Fraud                                          4
Operating/Promoting/Assisting Gambling                 4
Betting/Wagering                                       3
Justifiable Homicide                                   3
Bribery                                                2
Purchasing Prostitution                                2
Gambling Equipment Violations                          1
Name: Offense, dtype: int64

In [19]:
len(df['Offense_Category'].value_counts()), len(df['Offense'].value_counts())

(27, 53)

In [20]:
df['Problem_Initial'].value_counts()

ShotSpotter Activation (P)        20320
Theft - Report Only (P)           20228
Sound of Shots Fired (P)          19977
Auto Theft (P)                    17979
Domestic Abuse-In Progress (P)     9582
                                  ...
Person Threat to Jump (PF)~PD         1
Traffic Law Enforcement (P)~PD        1
Water Emergency (PFE)~PD              1
High Risk Warrant Entry (P)~PD        1
Vehicle Fire (F)~FIRE                 1
Name: Problem_Initial, Length: 349, dtype: int64

## PoliceUseOfForce

In [53]:
import pandas as pd

df = pd.read_csv("../data/MinneapolisUseOfForce.csv")
df.head()

,Unnamed: 0,X,Y,PoliceUseOfForceID,CaseNumber,ResponseDate,Problem,Is911Call,PrimaryOffense,SubjectInjury,...,TotalCityCallsForYear,TotalPrecinctCallsForYear,TotalNeighborhoodCallsForYear,CenterGBSID,CenterLatitude,CenterLongitude,CenterX,CenterY,DateAdded,OBJECTID
0,0,-93.296905,44.925909,51961230,08-003643,2008/01/04 10:40:37+00,Suspicious Vehicle,False,AOA,False,...,322402,55689.0,841,18837,44.925909,-93.296905,-1.038576e+07,5.609865e+06,2023/08/05 08:20:07+00,1
1,1,-93.291183,45.018526,51961231,08-005343,2008/01/05 22:57:23+00,Suspicious Person,False,FLEEFT,True,...,322402,80434.0,4226,18266,45.018526,-93.291183,-1.038513e+07,5.624438e+06,2023/08/05 08:20:07+00,2
2,2,-93.305698,45.010519,51961232,08-015086,2008/01/15 18:56:27+00,Suspicious Person,False,OBSTRU,False,...,322402,80434.0,15344,10711,45.010519,-93.305698,-1.038674e+07,5.623178e+06,2023/08/05 08:20:07+00,3
3,3,-93.271963,44.981655,51961233,08-025804,2008/01/27 02:31:10+00,Assault in Progress,False,ASLT4,True,...,322402,46998.0,23458,17120,44.981655,-93.271963,-1.038299e+07,5.618634e+06,2023/08/05 08:20:07+00,4
4,4,-93.253396,44.988867,51961234,08-031711,2008/02/02 01:19:05+00,Poss Personal Injury Acc,True,DWI,True,...,322402,48901.0,4858,19846,44.988867,-93.253396,-1.038092e+07,5.619769e+06,2023/08/05 08:20:07+00,5

In [50]:
df.isna().sum()

Unnamed: 0                           0
X                                    0
Y                                    0
PoliceUseOfForceID                   0
CaseNumber                           0
ResponseDate                        11
Problem                           1699
Is911Call                         1403
PrimaryOffense                    1395
SubjectInjury                    18616
ForceReportNumber                    0
SubjectRole                       3308
SubjectRoleNumber                 1916
ForceType                         1392
ForceTypeAction                      0
Race                              1392
Sex                               1392
EventAge                          4589
TypeOfResistance                  9555
Precinct                          1426
Neighborhood                       217
TotalCityCallsForYear                0
TotalPrecinctCallsForYear         1392
TotalNeighborhoodCallsForYear        0
CenterGBSID                          0
CenterLatitude                       0
CenterLongitude                      0
CenterX                              0
CenterY                              0
DateAdded                            0
OBJECTID                             0
dtype: int64

In [54]:
df['CaseNumber'].value_counts()

21-121360        32
21-103599        27
14-289909        27
21-271904        20
22-036480        20
                 ..
17-000339         1
15-087521         1
15-118227         1
15-230013         1
08-Logan Park     1
Name: CaseNumber, Length: 17820, dtype: int64

In [59]:
dict(df.nunique())

{'Unnamed: 0': 39516,
 'X': 4164,
 'Y': 4164,
 'PoliceUseOfForceID': 39516,
 'CaseNumber': 17820,
 'ResponseDate': 16436,
 'Problem': 144,
 'Is911Call': 2,
 'PrimaryOffense': 223,
 'SubjectInjury': 2,
 'ForceReportNumber': 35,
 'SubjectRole': 37,
 'SubjectRoleNumber': 25,
 'ForceType': 11,
 'ForceTypeAction': 49,
 'Race': 8,
 'Sex': 4,
 'EventAge': 73,
 'TypeOfResistance': 20,
 'Precinct': 10,
 'Neighborhood': 87,
 'TotalCityCallsForYear': 17,
 'TotalPrecinctCallsForYear': 92,
 'TotalNeighborhoodCallsForYear': 1249,
 'CenterGBSID': 4164,
 'CenterLatitude': 3782,
 'CenterLongitude': 3953,
 'CenterX': 4164,
 'CenterY': 4164,
 'DateAdded': 3,
 'OBJECTID': 39516}

In [55]:
unique_counts = df.nunique()
unique_counts[unique_counts == 1].index.tolist()

[]

In [28]:
mapping = {"Yes": True, "No": False}
df['Is911Call'] = df['Is911Call'].map(mapping)
df['SubjectInjury'] = df['SubjectInjury'].map(mapping)
df['Problem'] = df['Problem'].str.strip().replace(' ', '_')
df['ForceType'] = df['ForceType'].str.strip().replace(' ', '_')
df['ForceTypeAction'] = df['ForceTypeAction'].str.strip().replace(' ', '_')
df['TypeOfResistance'] = df['TypeOfResistance'].str.strip().replace(' ', '_')
df.head()

,X,Y,PoliceUseOfForceID,CaseNumber,ResponseDate,Problem,Is911Call,PrimaryOffense,SubjectInjury,ForceReportNumber,...,TotalCityCallsForYear,TotalPrecinctCallsForYear,TotalNeighborhoodCallsForYear,CenterGBSID,CenterLatitude,CenterLongitude,CenterX,CenterY,DateAdded,OBJECTID
0,-93.296905,44.925909,51961230,08-003643,2008/01/04 10:40:37+00,Suspicious Vehicle,False,AOA,False,1,...,322402,55689.0,841,18837,44.925909,-93.296905,-1.038576e+07,5.609865e+06,2023/08/05 08:20:07+00,1
1,-93.291183,45.018526,51961231,08-005343,2008/01/05 22:57:23+00,Suspicious Person,False,FLEEFT,True,1,...,322402,80434.0,4226,18266,45.018526,-93.291183,-1.038513e+07,5.624438e+06,2023/08/05 08:20:07+00,2
2,-93.305698,45.010519,51961232,08-015086,2008/01/15 18:56:27+00,Suspicious Person,False,OBSTRU,False,1,...,322402,80434.0,15344,10711,45.010519,-93.305698,-1.038674e+07,5.623178e+06,2023/08/05 08:20:07+00,3
3,-93.271963,44.981655,51961233,08-025804,2008/01/27 02:31:10+00,Assault in Progress,False,ASLT4,True,1,...,322402,46998.0,23458,17120,44.981655,-93.271963,-1.038299e+07,5.618634e+06,2023/08/05 08:20:07+00,4
4,-93.253396,44.988867,51961234,08-031711,2008/02/02 01:19:05+00,Poss Personal Injury Acc,True,DWI,True,1,...,322402,48901.0,4858,19846,44.988867,-93.253396,-1.038092e+07,5.619769e+06,2023/08/05 08:20:07+00,5

In [29]:
df['TypeOfResistance'].value_counts()

Tensed                     8187
Commission of Crime        5571
Fled on Foot               4614
Assaulted Officer          3332
Verbal Non-Compliance      3312
Unspecified                2158
Other                      1089
Fled in Vehicle             736
Commission of a Crime       685
Fled in a Vehicle           137
Assaulting Police Horse      49
X                            34
commission of crime          20
Assaulting Police K9         14
tensed                       10
TENSED                        7
verbal non-compliance         2
Assaulted Police Horse        2
Assaulted Police K9           1
COMMISSION OF CRIME           1
Name: TypeOfResistance, dtype: int64

In [30]:
df.to_csv("MinneapolisUseOfForce.csv")

In [32]:
df.columns

Index(['X', 'Y', 'PoliceUseOfForceID', 'CaseNumber', 'ResponseDate', 'Problem',
       'Is911Call', 'PrimaryOffense', 'SubjectInjury', 'ForceReportNumber',
       'SubjectRole', 'SubjectRoleNumber', 'ForceType', 'ForceTypeAction',
       'Race', 'Sex', 'EventAge', 'TypeOfResistance', 'Precinct',
       'Neighborhood', 'TotalCityCallsForYear', 'TotalPrecinctCallsForYear',
       'TotalNeighborhoodCallsForYear', 'CenterGBSID', 'CenterLatitude',
       'CenterLongitude', 'CenterX', 'CenterY', 'DateAdded', 'OBJECTID'],
      dtype='object')

In [33]:
df['Problem'].value_counts()

Suspicious Person             5553
Fight                         3519
Domestic Abuse-In Progress    2707
Disturbance                   2581
Suspicious Vehicle            1851
                              ...
Kid Trouble                      1
Crank 9-1-1 Call                 1
Down Outide-One w/Fire           1
Aircraft Crash in City           1
Check Hazard                     1
Name: Problem, Length: 144, dtype: int64

In [35]:
df['PrimaryOffense'].value_counts()

OBSTRU    5352
DISCON    3428
ASLT4     3262
FORCE     2767
CIC       2504
          ...
HOUSNG       1
EVENTS       1
SCHEVT       1
OPBTMV       1
CRANK        1
Name: PrimaryOffense, Length: 223, dtype: int64

In [36]:
df['SubjectRole'].value_counts()

A                       19601
ARRESTEE                 6441
S                        2574
OT                       2129
PERSON IN CRISIS         1501
SUSPECT                  1369
INVOLVED                  647
SUBJECT                   579
Citee                     300
V                         287
OTHER                     263
O                          96
VICTIM                     89
PV                         64
VICT/ARRESTEE              47
SP                         41
VICT/SUSPECT               41
W                          16
DRIVER                     16
AL                         14
PARENT/GRDN                14
PASSENGER                  11
OWNER                      11
JUV-ARRESTEE                8
PG                          7
WITNESS                     7
REPORTING PARTY             6
R                           5
JUV-SUSPECT                 5
OFFENDER                    5
MP                          5
JUV-CITED                   3
JUV-PERSON IN CRISIS        2
JUV-OTHER                   1
GANG AFFLIATE               1
CT                          1
RUNAWAY                     1
Name: SubjectRole, dtype: int64

In [37]:
df['SubjectRoleNumber'].value_counts()

1.0     31498
2.0      3298
0.0      1393
3.0       797
4.0       295
5.0        95
6.0        65
7.0        32
8.0        32
9.0        25
11.0       12
13.0       11
15.0       11
10.0        9
17.0        6
12.0        6
14.0        4
31.0        2
18.0        2
16.0        2
23.0        1
41.0        1
32.0        1
28.0        1
24.0        1
Name: SubjectRoleNumber, dtype: int64

In [38]:
df['ForceType'].value_counts()

Bodily Force                   27426
Chemical Irritant               4570
Taser                           4499
Gun Point Display                439
Improvised Weapon                401
Police K9 Bite                   303
Maximal Restraint Technique      195
Less Lethal                      173
Baton                             58
Firearm                           44
Less Lethal Projectile            16
Name: ForceType, dtype: int64

In [39]:
df['ForceTypeAction'].value_counts()

Body Weight to Pin                                   6468
Body Weight Pin                                      4395
Joint Lock                                           4122
Punches                                              2949
Personal Mace                                        2732
Push Away                                            2640
Takedown                                             2197
Crowd Control Mace                                   1779
Firing Darts                                         1729
Knees                                                1616
0                                                    1392
Kicks                                                1198
Display                                               983
Red Dot                                               956
Slaps                                                 606
Touch                                                 568
Compliance                                            439
Conscious Neck Restraint                              310
Punch                                                 291
Knee                                                  262
Bean Bag Round                                        180
Side Recovery Position                                174
Both                                                  166
On Lead                                               165
Flashlight                                            151
Off Lead                                              138
LVNR1                                                 115
Other (specify)                                       110
Arcing                                                 97
Neck Restraint: subject did not lose conciousness      81
Other Improvised Weapon                                67
Chemical Munitions                                     59
Unconscious Neck Restraint                             54
Firearm as striking tool                               52
Strikes                                                49
Hand Gun                                               42
LVNR2                                                  37
Slap                                                   36
LVNR3                                                  35
Not Side Recovery Position                             21
Neck Restraint: subject lost conciousness              14
Vehicle                                                10
40MM                                                    9
Bicycle                                                 9
Jabs                                                    5
Crowd Control Techniques                                4
Firearms As Striking Tool                               2
Shot Gun                                                1
Patrol Rifle                                            1
Name: ForceTypeAction, dtype: int64

In [40]:
df['Sex'].value_counts()

Male            30667
Female           4940
not recorded     2272
Unknown           245
Name: Sex, dtype: int64

In [41]:
df['Race'].value_counts()

Black                 22432
White                  8820
not recorded           2395
Native American        1975
Other / Mixed Race     1095
Unknown                 941
Asian                   457
Pacific Islander          9
Name: Race, dtype: int64

In [42]:
df['TypeOfResistance'].value_counts()

Tensed                     8187
Commission of Crime        5571
Fled on Foot               4614
Assaulted Officer          3332
Verbal Non-Compliance      3312
Unspecified                2158
Other                      1089
Fled in Vehicle             736
Commission of a Crime       685
Fled in a Vehicle           137
Assaulting Police Horse      49
X                            34
commission of crime          20
Assaulting Police K9         14
tensed                       10
TENSED                        7
verbal non-compliance         2
Assaulted Police Horse        2
Assaulted Police K9           1
COMMISSION OF CRIME           1
Name: TypeOfResistance, dtype: int64

In [43]:
df['Neighborhood'].value_counts()

Downtown West               8967
Jordan                      1734
Hawthorne                   1633
Near - North                1539
Willard - Hay               1239
                            ...
Page                          39
Cedar - Isles - Dean          36
Camden Industrial             35
Kenny                         22
Humboldt Industrial Area      16
Name: Neighborhood, Length: 87, dtype: int64

In [44]:
df['TotalCityCallsForYear'].value_counts()

222416    3580
322402    3327
227819    3021
316150    3021
314926    2596
245142    2593
313095    2579
324520    2495
355617    2442
347093    2290
302056    2159
359611    2135
344377    2055
380794    2017
351659    1992
153869    1203
0           11
Name: TotalCityCallsForYear, dtype: int64