In [22]:
import pandas as pd
df = pd.read_csv("co.csv")
df.head()

,companyName,numAffected,workforce_region,noticeDate,layoff_reason,Occupations,layoffDate,Temp Layoffs,Perm Layoffs,Furloughs,WARN Letter,NAICS
0,Albertsons #632,38,Mesa County,6/4/2015,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albertsons #8584,78,Pikes Peak/Teller,3/24/2015,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ambassadors Group,1,Denver,4/27/2015,Downsize,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Baker Hughes Inc.,17,Adams County,9/30/2015,Downsize,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Baker Hughes Inc.,124,Adams County,8/12/2015,Downsize,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
regex = r'\d{1,2}/\d{1,2}/\d{4}'
df[~df['noticeDate'].str.match(regex)]

,companyName,numAffected,workforce_region,noticeDate,layoff_reason,Occupations,layoffDate,Temp Layoffs,Perm Layoffs,Furloughs,WARN Letter,NAICS
170,"Conagra Brands, Inc.",100,Boulder,05/24/19 - 3/20/2020,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Peak Reliability,69,Larimer,1/7/19 & 4/6/2020,Terminate Operations,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,"Sandoz Inc., A Novartis Division (Update)",24,Broomfield,1/7/19 & 4/6/2020,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,"Conagra Brands, Inc.",100,Boulder,2/5/19,Closure,Not reported,5/24/19 - 3/20/20,NaN,NaN,NaN,NaN,NaN
215,HomeAdvisor,229,Pikes Peak,11-1-19 received 11/19/19 via Local Area/Suthe...,Closure,Various: Predominately Sales Consultants and P...,1/1/20 to 1/14/20,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
632,Davids Bridal (Update),?*,Multi area,5/24/23,Bankrupcy,Various (See WARN),6/23/23,0,?*,0,Davids Bridal Update,Sector 44: Retail Trade
633,MV Transportation,198,Denver,4/27/23,Not specified,"Drivers, Dispatchers, Admin, Utility Worker",6/30/23,0,198,0,MV Transportation,Sector 48: Transportation & Warehousing
634,Via Mobility Services,120,Denver,5/1/23,Loss of Contract,"Administrative support, operatives, & service...",7/1/2023,0,120,0,Via Mobility Services,Sector 48: Transporation and Warehousing
635,Amentum,19,Pueblo,5/26/23,Closure (Phase 1),"Engineers, Maintenace Planners/Supervisors, Te...",7/27/2023,0,19,0,Amentum,"Sector: 56,2910: Remediation Services"
636,Hard Rock Cafe International STD,54,Denver,5/30/23,Closure,Restaurant workers,7/29/2023,0,54,0,Hard Rock Cafe,Sector 72: Accommodation & Food Services

In [24]:
def is_standard_date(date):
    try:
        # Try to convert the string to a datetime object
        pd.to_datetime(date)
        return True
    except ValueError:
        # If it fails, it's not a standard date
        return False

# Create a boolean mask where each value is True if the date is not standard and False otherwise
mask = ~df['noticeDate'].apply(is_standard_date)
df[mask]

,companyName,numAffected,workforce_region,noticeDate,layoff_reason,Occupations,layoffDate,Temp Layoffs,Perm Layoffs,Furloughs,WARN Letter,NAICS
170,"Conagra Brands, Inc.",100,Boulder,05/24/19 - 3/20/2020,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Peak Reliability,69,Larimer,1/7/19 & 4/6/2020,Terminate Operations,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,"Sandoz Inc., A Novartis Division (Update)",24,Broomfield,1/7/19 & 4/6/2020,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,HomeAdvisor,229,Pikes Peak,11-1-19 received 11/19/19 via Local Area/Suthe...,Closure,Various: Predominately Sales Consultants and P...,1/1/20 to 1/14/20,NaN,NaN,NaN,NaN,NaN
216,Invesco (OppenheimerFunds OFI),850,Arapahoe/Douglas (Centennial),3/21/19 (received 3/22/19),Downsizing,Not disclosed in WARN,5/25/19 (thru 18 mo following),NaN,NaN,NaN,NaN,NaN
220,National Express Transit (NEXT),60,Pikes Peak,3/1/19 (received on 3/22/19),Closure,3 Managers and 57 hourly employees including G...,6/30/19,NaN,NaN,NaN,NaN,NaN
223,PrimeFlight Aviation Services Inc.,439,Denver,7/15/19 (received 7/16/19),Loss of Contract with United Airlines,Various positions: Cabin Appearance Staff (380...,9/18/19,NaN,NaN,NaN,NaN,NaN
229,"Sandoz Inc., A Novartis Division (Update)",24,Broomfield,1/7/19 & 4/6/2020,Closure,"Production Technicians, Chemists, & more",4/13/19-5/30/19,NaN,NaN,NaN,NaN,NaN
230,Sandoz-Novartis,24,Broomfield,7/6/19-7/31/19,Closure,"Lead Technicians (5), Equipment Maintenance Te...",7/6/19 - 7/31/19,NaN,NaN,NaN,NaN,NaN

there's not enough records for me to create a script. i'll just manually edit them in csv

In [25]:
df.isna().sum()

companyName           0
numAffected          12
workforce_region      0
noticeDate            0
layoff_reason         1
Occupations         213
layoffDate          220
Temp Layoffs        380
Perm Layoffs        453
Furloughs           446
WARN Letter         270
NAICS               244
dtype: int64

In [26]:
df['noticeDate'] = df['numAffected'].str.split(' - ').str[1]

In [27]:
df['numAffected'] = df['numAffected'].fillna(df['Perm Layoffs'])

In [28]:
df[df['numAffected'].isna()]

,companyName,numAffected,workforce_region,noticeDate,layoff_reason,Occupations,layoffDate,Temp Layoffs,Perm Layoffs,Furloughs,WARN Letter,NAICS
28,Lockheed Martin-Rev to 7/20/15 WARN,NaN,Pikes Peak/Teller,NaN,Downsize,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Sinton Dairy Foods Company/ Borden-Rev to 3/16/15,NaN,Pikes Peak/Teller,NaN,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Sinton Dairy Foods Company/ Borden-Rev to 3/16/15,NaN,Pikes Peak/Teller,NaN,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Sinton Dairy Foods Company/ Borden-Rev to 3/16/15,NaN,Pikes Peak/Teller,NaN,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Sinton Dairy Foods Company/ Borden-Rev to 3/16/15,NaN,Pikes Peak/Teller,NaN,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Climax Molybdenum Co - Henderson Mine & Mill -...,NaN,Jefferson,NaN,Revision,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Sports Authority,NaN,Arapahoe/Douglas,NaN,Revision,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,Climax Molybdenum Co - Henderson Mine & Mill -...,NaN,Jefferson,NaN,Revision,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Sports Authority,NaN,Arapahoe/Douglas,NaN,Revision,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,Sky Hotel 39 Degrees Recinds Layoffs from 2/5/...,NaN,Rural Resort,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Climax Molybdenum Co - Henderson Mine & Mill -...,NaN,Jefferson,NaN,Downsize,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df = df.dropna(subset=['numAffected'])

In [31]:
df.isna().sum()

companyName           0
numAffected           0
workforce_region      0
noticeDate          626
layoff_reason         0
Occupations         202
layoffDate          209
Temp Layoffs        369
Perm Layoffs        442
Furloughs           435
WARN Letter         259
NAICS               233
dtype: int64

In [32]:
df.to_csv('co_processed.csv')